.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  transition: all 0.3s ease;
  padding: 1rem 0;
  background-color: transparent;
}

.header.scrolled {
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  height: 2rem;
  width: 2rem;
  color: #059669;
}

.logo-text {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #065f46;
}


.desktop-nav {
  display: none;
}

.desktop-nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.desktop-nav a {
  font-size: 0.885rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.header:not(.scrolled) .desktop-nav a {
  color: white;
  transition: color 0.5s ease;
}
.header:not(.scrolled) .desktop-nav a:hover{
  color:#065f46;
}
.header.scrolled .desktop-nav a {
  color: #1f2937;
  transition: color 0.5s ease;
}

.header.scrolled .desktop-nav a:hover{
  color:#047857;
}

.desktop-nav a:hover {
  color: #059669;
}

.enroll-btn {
  background-color: #065f46;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  transition: background-color 0.7s ease,color 0.7s ease;
  margin-left: 2rem;
}

.enroll-btn:hover {
  background-color: white;
  color:#065f46;
}

.mobile-menu-btn {
  display: block;
  background: none;
  border: none;
  color: #4b5563;
}

.mobile-nav {
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.mobile-nav a {
  font-size: 0.875rem;
  font-weight: 500;
  color: #1f2937;
  transition: color 0.3s ease;
}

.mobile-nav a:hover {
  color: #059669;
}

.enroll-btn.mobile {
  width: 100%;
  margin: 1rem 0 0;
}

@media (min-width: 768px) {
  .desktop-nav {
    display: flex;
    align-items: center;
  }

  .mobile-menu-btn {
    display: none;
  }
}

