.map-container {
    height: 500px; /* or 100vh */
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 0;
  }
  
  
  /* Optional: Make the map full screen */
  .fullscreen-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  